/* common */

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 22px;
  color: #1d1d1d;
  line-height: 34px;
  font-weight: 400;
  margin-bottom: 16px;
}

h2 {
  font-size: 16px;
  color: #1d1d1d;
  line-height: 24px;
  font-weight: 400;
  margin-top: 16px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

small {
  font-size: 11px;
}

/* layout */

.container {
  width: 308px;
  height: 100%;
  margin: auto;
  padding: 0 8px;
}

.row {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: -8px;
  margin-right: -8px;
}

.col {
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
}

.col-xs-1 {
  flex-basis: 8.3333%;
}
.col-xs-2 {
  flex-basis: 16.6666%;
}
.col-xs-3 {
  flex-basis: 25%;
}
.col-xs-4 {
  flex-basis: 33.3333%;
}
.col-xs-5 {
  flex-basis: 41.6666%;
}
.col-xs-6 {
  flex-basis: 50%;
}
.col-xs-7 {
  flex-basis: 58.3333%;
}
.col-xs-8 {
  flex-basis: 66.6666%;
}
.col-xs-9 {
  flex-basis: 75%;
}
.col-xs-10 {
  flex-basis: 83.3333%;
}
.col-xs-11 {
  flex-basis: 91.6666%;
}
.col-xs-12 {
  flex-basis: 100%;
}

@media (min-width: 768px) {
  .container {
    width: 752px;
  }

  .col-md-1 {
    flex-basis: 8.3333%;
  }
  .col-md-2 {
    flex-basis: 16.6666%;
  }
  .col-md-3 {
    flex-basis: 25%;
  }
  .col-md-4 {
    flex-basis: 33.3333%;
  }
  .col-md-5 {
    flex-basis: 41.6666%;
  }
  .col-md-6 {
    flex-basis: 50%;
  }
  .col-md-7 {
    flex-basis: 58.3333%;
  }
  .col-md-8 {
    flex-basis: 66.6666%;
  }
  .col-md-9 {
    flex-basis: 75%;
  }
  .col-md-10 {
    flex-basis: 83.3333%;
  }
  .col-md-11 {
    flex-basis: 91.6666%;
  }
  .col-md-12 {
    flex-basis: 100%;
  }
}

@media (min-width: 991px) {
  .container {
    width: 956px;
  }

  .col-lg-1 {
    flex-basis: 8.3333%;
  }
  .col-lg-2 {
    flex-basis: 16.6666%;
  }
  .col-lg-3 {
    flex-basis: 25%;
  }
  .col-lg-4 {
    flex-basis: 33.3333%;
  }
  .col-lg-5 {
    flex-basis: 41.6666%;
  }
  .col-lg-6 {
    flex-basis: 50%;
  }
  .col-lg-7 {
    flex-basis: 58.3333%;
  }
  .col-lg-8 {
    flex-basis: 66.6666%;
  }
  .col-lg-9 {
    flex-basis: 75%;
  }
  .col-lg-10 {
    flex-basis: 83.3333%;
  }
  .col-lg-11 {
    flex-basis: 91.6666%;
  }
  .col-lg-12 {
    flex-basis: 100%;
  }
}

/* header */

.header {
  height: 72px;
  margin-bottom: 40px;
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

.header .col-lg-4 {
  text-align: right;
}

.logo {
  display: flex;
  align-items: center;
  width: 107px;
  height: 11px;
  background: url(../images/logo/logo.svg) center no-repeat;
  background-size: 107px;
}

.order {
  display: none;
}

.order--mobile {
  padding-bottom: 8px;
}

@media (min-width: 768px) {
  .order {
    display: block;
  }
  .order--mobile {
    display: none;
  }
}

.order__text {
  display: block;
  color: #626262;
  font-size: 11px;
  font-weight: 400;
  padding-bottom: 8px;
}

@media (min-width: 768px) {
  .order__text {
    font-size: 16px;
    font-weight: 300;
    margin: 0 5px;
    padding-bottom: 0;
  }
}

.order__button {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  width: 65px;
  color: #1d1d1d;
  background-color: #fff;
  padding: 10px 0;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 400;
}

@media (min-width: 768px) {
  .order__button {
    font-size: 13px;
  }
}

.order__input {
  font-family: "Roboto", sans-serif;
  width: 179px;
  color: #1d1d1d;
  background: #fff url(../images/icons/location.svg) 10px center no-repeat;
  background-size: 15px;
  padding: 12px 10px 12px 35px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  font-size: 13px;
  font-weight: 400;
}

@media (min-width: 768px) {
  .order__input {
    width: 215px;
    font-size: 16px;
  }
}

.user__btn {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  width: 72px;
  font-size: 11px;
  font-weight: 500;
  text-align: center;
  padding: 12px 0;
  border-radius: 2px;
}

@media (min-width: 991px) {
  .user__btn {
    width: 80px;
    font-size: 13px;
  }
}

.user__btn--white {
  color: #1d1d1d;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  margin-right: 8px;
}

.user__btn--black {
  color: #fff;
  background-color: #262626;
  border: 1px solid #262626;
}

.user__basket {
  display: none;
}

@media (min-width: 768px) {
  .user__basket {
    vertical-align: middle;
    display: inline-block;
    width: 19px;
    height: 23px;
    background: url(../images/icons/basket.svg) center no-repeat;
  }
}

/* search input */

.search__input {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #1d1d1d;
  width: 100%;
  padding: 8px 30px 16px 30px;
  margin-bottom: 24px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(117, 117, 117, 0.4);
  background: url(../images/icons/search.svg) no-repeat left 12px;
  background-size: 16px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .search__input {
    font-size: 16px;
    background: url(../images/icons/search.svg) no-repeat left 8px;
  }
}

.search::placeholder {
  color: #626262;
  opacity: 0.5;
}

/* restaurants */

.restaurants {
  margin-top: 32px;
  margin-bottom: 48px;
}

@media (min-width: 768px) {
  .restaurants {
    margin-bottom: 80px;
  }
}

.card {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 2;
  text-decoration: none;
  margin-bottom: 16px;
}

.card::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: rgba(216, 216, 216, 0.1);
}

.card__img {
  display: block;
  width: 100%;
  height: 256px;
}

.card__kitchen-list {
  display: inline-block;
}

.kitchen-list__item,
.card__price {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  color: #626262;
  margin: 3px 0;
}

.kitchen-list__item::before {
  content: "•";
  display: inline-block;
  vertical-align: middle;
  padding-right: 3px;
}

.card__time {
  display: block;
  font-size: 13px;
  line-height: 21px;
  color: #1d1d1d;
  margin-bottom: 20px;
}

/* footer */

.footer {
  color: #ffffff;
  background-color: #262626;
}

.footer__section {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.logo--footer {
  display: inline-block;
  padding: 56px 0 36px 0;
}

.footer__links {
  padding-bottom: 15px;
}

@media (min-width: 768px) {
  .footer__links {
    padding-bottom: 0;
  }
}

.footer__links .row {
  align-items: flex-start;
}

.footer__select--country {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 13px 48px;
  background-color: #3b3b3b;
  background-image: url(../images/icons/world.svg),
    url(../images/icons/select-arrow.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: 24px center, calc(100% - 8px) center;
  margin: 33px 0;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* CAUTION: IE hackery ahead */

select::-ms-expand {
  display: none;
  /* remove default arrow on ie10 and ie11 */
}

/* target Internet Explorer 9 to undo the custom arrow */

@media screen and (min-width: 0\0) {
  select {
    background: none\9;
    padding: 5px\9;
  }
}

.links__hashtag {
  font-weight: 400;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 17px;
}

.hashtag--green {
  color: #49a144;
  padding-right: 1px;
}

.social-list {
  margin-bottom: 40px;
}

.social-list__item {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.social-list__link {
  display: block;
  width: 100%;
  height: 100%;
}

.social-list__link--fb {
  background: url(../images/icons/facebook.svg) center no-repeat;
}

.social-list__link--tw {
  background: url(../images/icons/twitter.svg) center no-repeat;
}

.social-list__link--inst {
  background: url(../images/icons/instagram.svg) center no-repeat;
}

.footer-list {
  font-size: 13px;
}

@media (min-width: 768px) {
  .footer-list {
    padding-bottom: 0;
    margin-top: 40px;
    margin-bottom: 48px;
  }
}

.footer-list__item {
  padding-bottom: 25px;
}

/* .footer-list__item:last-child {
  padding-bottom: 0;
} */

.footer-list__link {
  color: #ffffff;
  text-decoration: none;
}

.footer-getapp {
  margin-top: 24px;
  padding-bottom: 20px;
  text-align: center;
}

@media (min-width: 768px) {
  .footer-getapp {
    margin-top: 42px;
    padding-bottom: 35px;
  }
}

.footer-getapp__link {
  display: inline-block;
  text-decoration: none;
  width: 124px;
  height: 36px;
  margin-right: 25px;
}

.footer-getapp__link:last-child {
  margin-right: 0;
}

.footer-getapp__img {
  width: 100%;
}

.footer-copyright {
  margin-top: 36px;
  padding-bottom: 40px;
  border-bottom: none;
}

.footer-copyright__text {
  display: block;
  margin-bottom: 24px;
}